version: "3"

services:

 postgres:
  image: postgres:12.0

  restart: always
  environment:
   POSTGRES_USER: postgres
   POSTGRES_PASSWORD: postgres
   POSTGRES_DB: postgres
  volumes:
   - data:/var/lib/postgresql/data
 django:
  container_name: django
  build: .
  restart: always
  command: "uwsgi --socket :3031 --module fibest.wsgi"
  environment:
   ENV: "PROD"
   INSCRIPTION:
   SECRET_KEY:
   PASSMAIL:
  ports:
   - "3031:3031"
  volumes:
   - ./:/opt/fibest
  depends_on:
   - postgres
  
 nginx:
  image: nginx:1.17.2
  restart: always
  ports:
   - "8080:8080"
  volumes:
   - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
   - ./:/opt/fibest:ro

  depends_on:
   - django
   - postgres

volumes:
 data:
