[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.3"
uWSGI = "==2.0.18"
psycopg2 = "==2.8.3"
Pillow = "==6.1.0"
requests = "*"
flake8 = "*"
django-crispy-forms = "*"
django_tinymce = "*"

[dev-packages]

[requires]
python_version = "3.7"
