{% load i18n %}

<div class="modal  fade" id="disclaimerModalLong" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="disclaimerModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h2 class="modal-title" id="exampleModalLongTitle">{% trans "PLAZOS DE ENVÍO DE LA INFORMACIÓN" %}</h2>
            </div>
            <div class="modal-body">
                {% trans "texto envio 1" %}

                <br><br>
                <ul>
                    <li>
                        <b>{% trans "Logo e información para la página web:" %}</b> {% trans "Con la mayor brevedad posible, con el fin de colgarlo en la página web." %}
                    </li>
                    <li>
                        <b>{% trans "Información y publicidad para la revista:" %}</b> {% trans "Lo antes posible, y siempre antes del" %}
                        <b> {% trans "14 de febrero de 2020" %}</b>
                        . {% trans "A partir de esa fecha no se asegura la presencia en la revista del foro." %}
                    </li>
                    <li>
                        <b>{% trans "Publicidad que será incluida en el Welcome Pack:" %}</b>{% trans " Se debe recibir, ya impreso con el número de ejemplares deseados antes del día" %}
                        <b>{% trans "29 de febrero de 2020" %}</b>. {% trans "La dirección se encuentra en el pie de página." %}
                    </li>
                    <li>
                        <b>{% trans "Datos de facturación y contrato:" %}</b> {% trans "Lo antes posible, siempre antes del" %}
                        <b> {% trans "18 de febrero de 2020." %}</b></li>
                </ul>
                {% trans "texto envio 2" %}
                <br><br>
                {% trans "texto envio 3" %}


                <br><br>
                {% trans "texto dir envio" %}

            </div>
            <div class="modal-footer">
                <button id="accept_disclaimer" type="button" class="btn btn-primary" data-dismiss="modal">Accept
                </button>
            </div>
        </div>
    </div>
</div>

