{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Times | FiBEST Companies" %}</title>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load i18n %}


    <section class="container form">
        <h1>PLAZOS DE ENVÍO DE LA INFORMACIÓN</h1>
        Es conveniente que nos envíen la información solicitada con la mayor brevedad posible, con el fin de
                agilizar la
                creación de los materiales promocionales, así como formalizar por ambas partes la participación en el
                evento a través
                del contrato. Por esta razón, hemos de establecer unas fechas límite para que nos envíen la información
                requerida:
                <br><br>
                <ul>
                    <li><b>Logo e información para la página web:</b> Con la mayor brevedad posible, con el fin de
                        colgarlo en
                        la
                        página web.
                    </li>
                    <li><b>Información y publicidad para la revista:</b> Lo antes posible, y siempre antes del <b>14 de
                        febrero de
                        2020</b>. A partir de esa fecha no se asegura la presencia en la revista del foro.
                    </li>
                    <li><b>Publicidad que será incluida en el Welcome Pack:</b> Se debe recibir, ya impreso con el
                        número de
                        ejemplares deseados antes del día <b>29 de febrero de 2020</b>. La dirección se encuentra en el
                        pie de
                        página.
                    </li>
                    <li><b>Datos de facturación y contrato:</b> Lo antes posible, siempre antes del <b>18 de febrero de
                        2020.</b></li>
                </ul>
                Para el envío de la información solicitada, pueden hacerlo a esta dirección de correo electrónico
                victor.herrezuelo@bestspain.es
                <br><br>
                Para el envío del folleto promocional incluido en el Welcome pack, pueden enviarla a esta dirección:
                <br><br>
                BEST Valladolid <br>
                Escuela de Ingenierías Industriales<br>
                Paseo del Cauce, 59<br>
                47011 Valladolid, España<br>
    </section>

{% endblock %}

