{% extends "base.html" %}

{% block title %}
    <title>Forum | FiBEST Private Area</title>


{% endblock %}
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
    {% load i18n %}
    {% load crispy_forms_tags %}



    <section class="container">
        <h1>Forum form</h1>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.logo|as_crispy_field }}
            {{ form.stand_name|as_crispy_field }}
            {{ form.assembly_service|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </section>

{% endblock %}