{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Job fair | FiBEST Companies" %}</title>


{% endblock %}

{% block content %}
    {% load i18n %}
    {% load crispy_forms_tags %}



    <section class="container form">
        <h1>{%  trans "Job fair form" %}</h1>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.logo|as_crispy_field }}
            {{ form.stand_name|as_crispy_field }}
            {{ form.cvs_requested|as_crispy_field }}
            {{ form.assembly_service|as_crispy_field }}
            <button type="submit" class="btn btn-primary">{% trans "Edit job fair info" %}</button>
        </form>
    </section>

{% endblock %}