{% extends "base.html" %}

{% block title %}
    <title>Magazine | FiBEST Private Area</title>


{% endblock %}
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
    {% load i18n %}
    {% load static %}
    {% load crispy_forms_tags %}



    <section class="container">
        <h1>Inscription form</h1>
        {% if company is not None %}
            <form method="POST">
                {% csrf_token %}
                {{ form.login|as_crispy_field }}
                {{ form.name|as_crispy_field }}
                {{ form.link|as_crispy_field }}
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        {% else %}
            <h2>Register new company</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.login|as_crispy_field }}
                {{ form.name|as_crispy_field }}
                {{ form.link|as_crispy_field }}
                {{ form.pack|as_crispy_field }}
                {{ form.password|as_crispy_field }}

                <p class="card card-body bg-light">After this registration, you will be able to enter the FiBEST
                    companies dashboard and complete the inscription, set FiBEST Online and magazine.</p>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>

        {% endif %}
    </section>

{% endblock %}