{% extends "base.html" %}
{% load i18n %}
{% block title %}
    <title>{% trans "Login for companies | FiBEST Private Area" %}</title>
{% endblock %}

{% block customstyle %}
    main {
    max-width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
{% endblock %}

{% block  content %}

    <main>
        <h1>{%  trans "Welcome to FiBEST" %}</h1>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Email:</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp"
                       class="form-text text-muted">{% trans "Please, introduce your email to access your company inscription details and dashboard. We will send a link to the email to login so you don't have to remember a password." %}</small>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>

            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
        </form>
    </main>
{% endblock %}