{% extends "base.html" %}
{% load i18n %}
{% block title %}
    <title>{% trans "Login for companies | FiBEST Private Area" %}</title>
{% endblock %}

{% block customstyle %}
    .main {
    max-width: 450px;
    }
{% endblock %}

{% block  content %}
    {% if mailSent %}

        <div class=" position-absolute mx-auto text-center alert alert-primary fade show center-absolute custom-alert"
             role="alert">
            <strong>{% trans "Mail sent succesfully!" %}</strong> {% trans "Check your mailbox to access." %}

        </div>
    {% endif %}
    {% if mailFailed %}
        <div class=" position-absolute mx-auto text-center alert alert-danger fade show center-absolute custom-alert"
             role="alert">
            <strong>{% trans "Mail unkown!" %}</strong> {% trans "Are you already registered? Check out " %} <a
                href="{% url "inscription" %}">{% trans "inscription" %}</a>
        </div>

    {% endif %}
    <div class="container m-auto main">

        <h1>{% trans "Welcome to FiBEST" %}</h1>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Email:</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp"
                       class="form-text text-muted">{% trans "Please, introduce your email to access your company inscription details and dashboard. We will send a link to the email to login so you don't have to remember a password." %}</small>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>

            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}