<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login for companies</title>
    </head>
    <body>
        <h1>Welcome to FiBEST</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="/login/" method="POST">
            {% csrf_token %}
            <label for="email">Email: </label>
            <input id="email" name="email" type="email">
            <p>Please, introduce your email to access your company inscription details and dashboard. We will send a link to the email to login so you don't have to remember a password</p>
            <input type="submit" value="Login">
        </form>
    </body>
</html>