{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Magazine | FiBEST Companies" %}</title>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load i18n %}



    <section class="container form">
        <h1>{% trans "Revista" %}</h1>
        <form method="POST" enctype='multipart/form-data' novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.publi_magazine|as_crispy_field }}
            <h3> {% trans "Ficha técnica revista" %}</h3>
            <p>{% trans "Texto ficha técnica revista" %}</p>
            {{ form.name_magazine|as_crispy_field }}
            {{ form.activity_magazine|as_crispy_field }}
            {{ form.search_magazine|as_crispy_field }}
            {{ form.year_magazine|as_crispy_field }}
            {{ form.workers_magazine|as_crispy_field }}
            {{ form.location_magazine|as_crispy_field }}
            {{ form.internships_magazine|as_crispy_field }}
            {{ form.beca_magazine|as_crispy_field }}
            {{ form.tfg_magazine|as_crispy_field }}
            {{ form.message_magazine|as_crispy_field }}
            <h3> {% trans "info para contacto" %}</h3>
            {{ form.web_contact|as_crispy_field }}
            {{ form.email_contact|as_crispy_field }}
            {{ form.person_contact|as_crispy_field }}
            {{ form.phone_contact|as_crispy_field }}
            {{ form.postal_contact|as_crispy_field }}
            {{ form.twitter|as_crispy_field }}
            {{ form.facebook|as_crispy_field }}
            {{ form.instagram|as_crispy_field }}
            {{ form.youtube|as_crispy_field }}
            <h3> {%  trans "Reparto de publicidad" %}</h3>
            <p> {%  trans "Info reparto publicidad" %}</p>


           <!-- <button type="submit" class="btn btn-primary">{% trans "Save magazine details" %}</button>-->
        </form>
    </section>

{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'magazine.js' %}"></script>
{% endblock %}