{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Official Information | FiBEST Private Area" %}</title>

{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load i18n %}

    <section class="container form">
        <h1>{% trans "Informacion Oficial" %}</h1>
        <p>{% trans "Texto info oficial" %}</p>

        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <br>

            <h3> {% trans "Datos Contrato" %}</h3>
            {{ form.company_contract|as_crispy_field }}
            {{ form.cif_contract|as_crispy_field }}
            {{ form.signer_contract|as_crispy_field }}
            {{ form.postal_contract|as_crispy_field }}
            <p> {% trans "Texto info contrato" %}</p>
            <br>
            <h3> {% trans "Datos Factura" %}</h3>

            {{ form.company_billing|as_crispy_field }}
            {{ form.cif_billing|as_crispy_field }}
            {{ form.postal_social_billing|as_crispy_field }}
            {{ form.phone_billing|as_crispy_field }}
            {{ form.order_number|as_crispy_field }}
            {{ form.postal_send_billing|as_crispy_field }}

            <button type="submit" class="btn btn-primary">{% trans "Boton guardar info ofi" %}</button>
        </form>
    </section>

{% endblock %}