{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans "Stand | FiBEST Private Area" %}</title>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load i18n %}


    <section class="container">
        <h1>Stand</h1>
        <form method="POST" enctype='multipart/form-data' novalidate>
            {% csrf_token %}
            <p>{% trans "texto publi virtual" %}</p>
            <input onclick="hideForm()" type="checkbox" name="{{ form.copy_magazine_info.html_name }}"
                   class="checkboxinput form-check-input" id="{{ form.copy_magazine_info.id_for_label }}"
                    {% if  form.copy_magazine_info.value %} checked {% endif %}
                    {% if magazine is None %} disabled {% endif %}>
            <label for="{{ form.copy_magazine_info.id_for_label }}" class="form-check-label">
                {{ form.copy_magazine_info.label }}
            </label>

            <small id="hint_{{ form.copy_magazine_info.id_for_label }}"
                   class="form-text text-muted">{{ form.copy_magazine_info.help_text }}</small>
            <div id="principal" style="display: none;">
                {{ form.name_stand|as_crispy_field }}
                {{ form.activity_stand|as_crispy_field }}
                {{ form.search_stand|as_crispy_field }}
                {{ form.year_stand|as_crispy_field }}
                {{ form.workers_stand|as_crispy_field }}
                {{ form.location_stand|as_crispy_field }}
                {{ form.internships_stand|as_crispy_field }}
                {{ form.beca_stand|as_crispy_field }}
                {{ form.tfg_stand|as_crispy_field }}
                {{ form.message_stand|as_crispy_field }}
                <h3> {% trans "info para contacto" %}</h3>

                {{ form.web_contact|as_crispy_field }}
                {{ form.email_contact|as_crispy_field }}
                {{ form.person_contact|as_crispy_field }}
                {{ form.phone_contact|as_crispy_field }}
                {{ form.postal_contact|as_crispy_field }}
                {{ form.twitter|as_crispy_field }}
                {{ form.facebook|as_crispy_field }}
                {{ form.instagram|as_crispy_field }}
                {{ form.youtube|as_crispy_field }}
                <h3> {% trans "Ofertas laborales y publi en redes" %}</h3>
                <p> {% trans "Info ofertas laborales y publi en redes" %}</p>

            </div>
            <button type="submit" class="btn btn-primary">{% trans "Save magazine details" %}</button>
        </form>
    </section>

{% endblock %}

{% block script %}
    {% load static %}


    <script>
        function hideForm() {
            var x = document.getElementById("principal");
            var y = document.getElementById("id_copy_magazine_info");

            if (y.checked) {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        window.onload = hideForm;
    </script>
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stand.js' %}"></script>
{% endblock %}