
* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

body {
    padding-bottom: 2.5rem;
    padding-top: 85px;
}

h1, h2, h3 {
    font-weight: 200;
    color: #0078bf;
}


/* Source: https://css-tricks.com/snippets/css/sticky-footer/ */
* {
  margin: 0;
}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px;
}
.site-footer {
  clear: both;
}