
* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

section.form {
    margin-bottom: 2.5rem;
}
body {
    padding-bottom: 2.5rem;
    padding-top: 85px;
}

h1, h2, h3 {
    font-weight: 200;
    color: #0078bf;
}

a{
    text-decoration: none !important;
}
/* Source: https://css-tricks.com/snippets/css/sticky-footer/ */
* {
  margin: 0;
}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 98%;
}

.site-footer {
  clear: both;
}